<!doctype html>
<html>
  <head>
    <title>Goshrt</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
  </head>
  <body>
    <div class="container">
      <a href="https://github.com/storvik/goshrt" rel="noopener">
        <img
          width="300px"
          height="300px"
          alt="goshrt_logo"
          src="/public/goshrt.png"
        />
      </a>
      <h2>{{.Title}}</h2>
      <p>{{.Message}}</p>
    </div>
  </body>
</html>
